<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/code.js"></script>
    <title>Home Page | Social Gallery</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <!--MENU DE NAVEGACION-->

    <ul>
        <li><a href="#">@username</a></li>
        <li><a href="#" onclick="openModal()">+</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <div>
                    <form action="../controller/postController.php" method="POST" enctype="multipart/form-data">
                        <input type="text" id="title" name="title" placeholder="Titulo de la foto...">

                        <input type="file" id="img" name="img">

                        <input type="submit" value="Añadir">
                    </form>
                </div>
            </div>
        </div>
        <!-- Galeria -->
        <div class="row">
            <div class="three-colum">
                <img src="" alt="" class="three-colum">
            </div>
        </div>
    </div>
</body>

</html>